* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B09398;
}

form{
    background-color: #5F5449;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    color: #CEDFD9;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #EBFCFB;
  
}

form h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #CEDFD9;
}

form button {
    background-color: #9B6A6C;
    box-shadow: 0px 0px 3px rgb(255, 255, 255);
    margin-top: 10px;
    border-radius: 5px;
    color: #CEDFD9;
    font-size: 1em;
    font-weight: bold;

}

div{
    margin: auto;
    margin-top: 10px;
    width: 650px;
    height: 650px;
}